.gradle
.idea
gradle
Topics
*.gradle
*.yaml
gradlew*

Brush up your code
Buy, fill, take
Estimate the number of servings
Ingredient calculator
Keep track of the supplies
Making coffee
Backup

build
out
test